version: '3.8'

services:
  app:
    build: .
    container_name: laravel_app
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www/html
    networks:
      - library_net

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: library_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5
    networks:
      - library_net

  nginx:
    image: nginx:latest
    container_name: nginx_web
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - library_net

volumes:
  pgdata:

networks:
  library_net:
